# Environments
.env
.env.*
!/.env.example

# Data
/vector/data/original_pdf/*
/vector/data/original_full_text/*
/vector/data/chunked_docs/*
/vector/data/vector_store/*
/vector/definition/arcane-footing-464017-v9-a73a60318d02.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.ipynb_checkpoints
/gemini.md
/api_example.ipynb